# Build Folders
bin/
obj/

# ASP.NET Files
.vscode/
.vs/
.env
.env.*

# Visual Studio Specific
.vscode/
.vs/
*.sln.ide

# Rider Specific
.idea/

# Package Folders
**/packages/*

# NuGet Packages
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/
